.form_wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #f00d5f;
  border-radius: 30px;
}

.alert_wrapper {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
}
