:root {
  --color-01: #df7fca;
  --color-02: #817fdf;
  --color-03: #f00d5f;
}

body {
  background-image: url(./assets/bg-app.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.form-control {
  border-radius: 30px !important;
  border-color: var(--color-03) !important;
  color: var(--color-03) !important;
}

.form-control::placeholder {
  color: var(--color-03) !important;
}

.btn {
  border-radius: 30px !important;
  padding: 0.5rem 1.5rem !important;
}

.btn-primary {
  background-color: var(--color-01) !important;
  border-color: var(--color-01) !important;
}

.btn-secondary {
  background-color: var(--color-02) !important;
  border-color: var(--color-02) !important;
}

.alert {
  border-radius: 30px !important;
}
